*{
    margin: 0;
    padding: 0;
}

.single-pokemon {
    text-align: center;
    padding: 2vw;
    width: 6vw;
}

.select-type-pokemon, .pokemon-name {
    margin: 10px;
}

.select-num-pokemon {
    margin: 0px;
}

.select-type-pokemon {
    display: flex;
    padding: 5px;
    width: 100%;
    flex-wrap: wrap;
}

.type-pokemon {
    padding: 5px;
    margin: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.root{
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 90%;
    margin: 5vw ;
}

.figure {
   display: flex;
   flex-direction: row;
   justify-content: center;
   border: 2px solid red;
   height: 100%;
   width: 80%
 }

 .slider{
    width: 40%;
    border: 2px solid black;
    height: 300px;

 }



 .details{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  /*border: 1px solid red;*/
  height: 300px;
 } 
 
 .pokemons{
     width: 60%;
     height: 150%;
     /*border: 2px solid yellow;*/
 }

 .pokemons-panel{
     border: 2px solid blue;
     height: 100%;
     width: 100%;
     overflow: auto;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
 }