body {
    background-image: url('../images/bg4.jpg');
    font-family: 'Exo', sans-serif;
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
}

.icon-arrow {
    font-size: 30px;
    background-color: #ED4863;
    color: white;
    border: none;
    border-radius: 50%; 
    display: inline-block;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.pokebola-title {
    width: 40px;
    padding: 0 20px 0 0;
}

.header-style {
    background-color: #ED4863;
    color: white;
    padding: 1vw 0px 1vw 11vw;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.single-pokemon {
    text-align: center;
    padding: 1vw 2vw;
    width: 6vw;
}

.select-type-pokemon, .pokemon-name {
    margin: 5px;
}

.pokemon-img {
    max-width: 100px;
}

.pokemon-img:hover {
    cursor: pointer;
}

.select-num-pokemon {
    margin: 0px;
}

.div-select-type {
    padding: 10px 0;
    margin: 10px 0 0 0;
    width: 100%;
    flex-wrap: wrap;
    border: none;
    border-top: 4px solid #88CFF9;
    background-color: rgb(248, 248, 248, 0.7);
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.div-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.root{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
    width: 90%;
    margin: 3vw 4vw;
}

.figure {
   display: flex;
   flex-direction: row;
   justify-content: center;
   border: 2px solid red;
   height: 100%;
   width: 80%
 }

 .slider{
    width: 40%;
    border: 2px solid black;
    height: 300px;
    background-color: white;

 }

 .details{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   } 
 
 .pokemons{
     width: 50%;
     height: 150%;
     /*border: 2px solid yellow;*/
 }

 .container-pokemons-panel{
     height: 300px;
     width: 100%;
     overflow: auto;
     background-color: rgb(248, 248, 248, 1);
     border-radius: 0 0 10px 10px;
     display: flex;
     flex-direction: column;
 }

 .pokemons-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: baseline;
    padding: 10px 0 0 0;
 }

 .container-pokemons-panel::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
     background-color: #F5F5F5;
     border-radius: 10px;
 }
 
 .container-pokemons-panel::-webkit-scrollbar
 {
     width: 15px;
     background-color: #F5F5F5;
     border-radius: 10px;
 }
 
 .container-pokemons-panel::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     background-color: #6A92F2; 
 }

 .type-pokemon {
    padding: 10px;
    width: 70px;
    margin: 7px;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: background-color 300ms ease;
}

.type-pokemon:hover, .type-pokemon:active, .type-pokemon:focus {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}


.div-filter-name {
    width: 100%;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-top: 4px solid #88CFF9;
    background-color: rgb(248, 248, 248, 0.7);
}

.input-name-style {
    width: 70%;
    margin: 10px;
    padding: 15px;
    outline: none;
    border: none;
    background-color: rgb(248, 248, 248, 0.0);
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}

.icon-search {
    width: 25px;
    height: 25px;
    background-color: #ED4863;
    font-size: 20px;
    color: white;
    padding: 5px;
    margin: 5px 5px 5px 30px;
    border-radius: 50%;
    text-align: center;
}

 .normal {
     background-color: #A8A878;
 }

 .fighting {
     background-color: #C03028;
 }

 .flying {
    background-color: #A890F0;
}

 .poison {
     background-color: #a040a0;
 }

 .ground {
     background-color: #E0C068;
 }

 .bug {
     background-color: #A8B820;
 }

 .ghost {
     background-color: #705898;
 }

 .fire {
     background-color: #F08030;
 }

.water {
    background-color: #6890F0;
}

.grass {
    background-color: #78C850;
}

.electric {
    background-color: #F8D030;
}

.psychic {
    background-color: #F85888;
}

.dragon {
    background-color: #7038F8; 
}

.rock {
    background-color: #B8A038;
}

.all {
    background-color: black;
}


.img-picked-pokemon{
    width: 40%;
    height: 40%;
}

.description-pokemon{
    width: 50%;
    height: 50%;
}

.description-pokemon-card {
    width: 40vw;
    background-color: rgba(62, 62, 238, 0.7);
    border-radius: 10px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    box-sizing: border-box;
}

.evolution-card {
    width: 40vw;
    background-color: rgba(237, 72, 99, 0.7);
    border-radius: 10px;
    padding: 10px 20px;
    color: white; 
    margin: 5px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-evolutions {
    max-width: 5vw;
}

.name-evolution {
    font-size: 14px;
    text-align: center;
}

/* .evolutions-pokemons {
    display: flex;
} */

.align-start {
    align-self: flex-start;
}

.title-info {
    font-size: 16px;
    margin: 0 10px 0 0;
}

.title-info-name {
    font-size: 24px;
    color:rgb(117, 231, 136);
    justify-self: center;
    padding: 0 0 15px 0;
}

.title-info, .info {
    display: inline-block;
}

.fa-arrow-circle-right {
    font-size: 30px;
    margin: 0 2vw;
}

.poke-teste{
    width: 80%;
    height: auto;
    /* position: relative;
    top: 45% */
    padding: 0 0 15px 0;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 20px;
    width: 40vw;
}

.hidden {
    display: none;
}

.order {
    border: none;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    justify-self: flex-end;
    background-color: #6890F0;
    color: white;
    font-family: Exo;
}

.dropdown-container {
    background-color: white;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
}

/* select.order option:hover {
    box-shadow: 0 0 10px 100px #ED4863 inset;
} */

.order-option {
    background-color: white;
    color: black;
    font-family: Exo;
}

.order-option:disabled {
    background-color: #C8C8C8;
    color: #848484;
}